<div class="listr1">
    <h2>Register as a Therapist</h2>

    <form action="/therapists/new" method="POST">
        <input type="text" name="username" placeholder="Username">
        <br></br>
        <input type="password" name="password" placeholder="Password">
        <br></br>
        <input type="text" name="first_name" placeholder="First Name">
        <br></br>
        <input type="text" name="last_name" placeholder="Last Name">
        <br></br>
        <input type="text" name="license_type" placeholder="License Type">
        <br></br>
        <input type="text" name="license_number" placeholder="License Number">
</div>
<br></br>
<div class="listr1">
    <input type="submit" value="Register">
    </form>
</div>