<h3>Create a Client</h3>
<form action="/clients/new" method="POST">
  <br></br>
  <input type="integer" name="medical_record_id" placeholder="Medical Record Number">
  <br></br>
  <input type="text" name="first_name" placeholder="First Name">
  <br></br>
  <input type="text" name="last_name" placeholder="Last Name">
  <br></br>
  <input type="text" name="date_of_birth" placeholder="Date of Birth (mm/dd/yyyy)">
  <br></br>
  <input type="text" name="address" placeholder="Address">
    <br></br>
  <input type="text" name="phone" placeholder="Phone Number: xxx-xxx-xxxx">
  <br></br>
  <input type="submit" value="Create Client">
</form>