<div class="listr1">
    <h2>Create a Client</h2>
    <form action="/clients/new" method="POST">
        <hr>
</div>

<div class="bloc1">

    <input type="integer" name="client[medical_record_id]" placeholder="Medical Record Number">
    <br></br>
    <input type="text" name="client[first_name]" placeholder="First Name">
    <br></br>
    <input type="text" name="client[last_name]" placeholder="Last Name">
    <br></br>
    <input type="text" name="client[date_of_birth]" placeholder="Date of Birth">
    <br></br>
    <textarea rows="5" cols="50" name="client[address]" placeholder="Address"></textarea>
    <br></br>
    <input type="text" name="client[phone]" placeholder="Phone : xxx-xxx-xxxx">
    <br></br>
</div>
<div class="listr1">
    <input type="submit" value="Create Client">
    </form>
</div>