
body {
    background-color: PaleTurquoise;
    font-family: 'Noto Sans', sans-serif;
}

.listr1{
  margin:10px 5px 15px 50px;

}

.bloc1 {
  margin:10px 5px 15px 100px;

}

.bloc2 {
  margin:10px 5px 50px 150px;
}

table, th, td {
   border: 1px solid black;
}


.alert {
  color:red;
  display:inline-block;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


