<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <img class="centered" src="/images/banner.jpg" alt="Solace">
    <link rel="stylesheet" href="/styles/styles.css">
    <br></br>
</head>

<body>
    <%= yield %>
        <br></br>
</body>

</html>