<!DOCTYPE html>
<html>
<head>
  <h1>***** SOLACE *****</h1>
  <h3>The Recordkeeping Tool for Therapists</h3>
  <p>-----------------------------------------------------------</p>
</head>
  <body>
    <%= yield %>
  </body>
</html>